:root {
  --color-hue: 210;
  --color-saturation: 6%;

  --bg-dark: hsl(var(--color-hue), var(--color-saturation), 5%);
  --bg: hsl(var(--color-hue), var(--color-saturation), 10%);
  --bg-light: hsl(var(--color-hue), var(--color-saturation), 20%);

  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);

  --border: hsl(var(--color-hue), var(--color-saturation), 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(var(--color-hue), var(--color-saturation), 50%);
  --border-card: 1px solid var(--border);
  
  --primary-color: rgb(4, 87, 102);
  --primary-color--hover: rgba(4, 87, 102, 0.9);
  --primary-color--active: rgba(4, 87, 102, 0.6);
  --primary-white: rgb(240, 240, 240);
  --nav--height: 3rem;
}
body.light {
  --bg-dark: hsl(var(--color-hue), var(--color-saturation), 90%);
  /* --bg-dark: hsl(0, 0%, 90%); */
  --bg: hsl(var(--color-hue), var(--color-saturation), 95%);
  --bg-light: hsl(var(--color-hue), var(--color-saturation), 100%);

  --text: hsl(0 0% 5%);
  --text-muted: hsl(0 0% 30%);

  --border: hsl(var(--color-hue), var(--color-saturation), 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(var(--color-hue), var(--color-saturation), 100%);
  --border-card: 1px solid var(--bg);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 
            0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
}

html {
  --10px: 0.625rem;
  --11px: 0.6875rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --22px: 1.375rem;
  --23px: 1.4375rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --26px: 1.625rem;
  --27px: 1.6875rem;
  --28px: 1.75rem;
  --29px: 1.8125rem;
  --30px: 1.875rem;
  --31px: 1.9375rem;
  --32px: 2rem;
}

body {
  background: var(--bg-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--16px);
  color: var(--text);
  /* min-width: 100vh; */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
  /* makes footer not float if in 3rd position */
  grid-template-rows: auto 1fr auto;
  /* justify-items: center; */
  min-height: 100vh; /* helps push footer to the bottom */
}
nav {
  grid-area: navbar;
  position: sticky;
  top: 0rem;
    /* makes it easier to calculate aside{top} */
  /* height: 2rem; */
  /* padding: var(--nav--padding); */
  box-sizing: border-box;
  background: var(--bg);
  display: flex;
  align-items: center;
}
.navbar__button-default {
  height: var(--nav--height);
  width: var(--nav--height);
  background-color: var(--bg);
  color: var(--text);
  border: none;
  cursor: pointer;
}
.navbar__button-default:hover {
  background-color: var(--bg-light);
}
.dark-mode-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}
.dark-mode-toggler svg:last-child {
  display: none;
}
body.light .dark-mode-toggler svg:first-child {
  display: none;
}
body.light .dark-mode-toggler svg:last-child {
  display: block;
}
svg {
  fill: var(--text);
  pointer-events: none;
}

/* button:focus {
  outline: 1px solid gray;
} */

aside {
  grid-area: sidebar;
  position: sticky;
  top: var(--nav--height); /* calc(2rem + 2 * var(--nav--padding)); */
  align-self: start;
  min-height: calc(100vh - var(--nav--height)); /* calc(100vh - (2rem + 2 * var(--nav--padding))); */
  background-color: var(--bg);
  border: var(--border-card);
  /* border-top: var(--highlight); */
  box-shadow: var(--shadow);
}
body.light aside {
  border: 1px solid black;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
}

.hangman-header {
  font-size: clamp(1.8rem, 7vw + 1rem, 3rem);
  text-align: center;
  margin: 16px;
}

.container {
  /* border: 1px solid black; */
  display: grid;
  width: min(60rem, 95%);
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px 30px;
  margin: auto;
  /* flex: 1 1 100%;
  flex-wrap: wrap; */
}

.hangman-box {
  flex-grow: 0.4;
  justify-items: center;
  /* min-width: 10rem; */
  flex: 1;
  border: 1px solid var(--border);
  /* border-top: 1px solid var(--highlight); */
  border-radius: 8px;
  padding: 8px;
  background-color: var(--bg-light);
  box-shadow: var(--shadow);
}

.hangman-graphic {
  border: none;
  /* width: 100%;
  height: 100%; */
  /* object-fit: fill; */
  /* margin: 6px; */
}

.game-box {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-grow: 0.6;
  min-width: 30rem; */
  border: none;
  width: 100%;
}

.word-display {
  font-size: var(--32px);
  border: var(--border-card);
  border-radius: 8px;
  padding: 16px;
  /* text-align: center; */
  margin: 16px;
  width: fit-content;
}

.keyboard {
  background-color: var(--primary-color);
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 4px; */
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.keyboard__key {
  height: 45px;
  width: 100%;
  /* max-width: 90px; */
  min-width: 50px;
  margin: 3px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 4px;
  margin: 0px;
  color: var(--primary-white);
  font-size: var(--16px);
  /* for mobile devices when touching keys? */
  outline: none;
  cursor: pointer;
  /* these 3 to center when inserting icons */
  /* display: inline-flex;
  align-items: center;
  justify-content: center; */
  vertical-align: top; /* in case */
  flex: 1 1 0;
}

.keyboard__key:not(:disabled):hover {
  background: rgba(255, 255, 255, 0.5);
}

.keyboard__key:disabled {
  background: rgba(255, 255, 255, 0.2);
  cursor: default;
}

/* .popup__overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
} */

dialog {
  text-align: center;
  /* position: fixed; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg);
  border: var(--border-card);
  border-top: 1px solid var(--highlight);
  border-radius: 8px;
}
/* dialog .wrapper {
  padding: 16px;
} */
dialog .wrapper > * {
  padding: 32px;
}
dialog .wrapper-statistics > * {
  border: var(--border-card);
}

/* .hover-div::after {
  content: "Text that appears on hover";
  position: absolute;
  top: 100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hover-div:hover::after {
  visibility: visible;
  opacity: 1;
} */

.statistics-display {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* or repeat(5, minmax(3rem, 1fr) */
  grid-auto-flow: column;
  column-gap: var(--24px);
}
.stats-column {
  width: max(3rem, 6vh);
}
.stats-num {
  font-size: var(--30px);
}
.stats-label {
  font-size: var(--14px);
  color: var(--text-muted);
  padding-top: var(--12px);
}

.popup-result__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  padding: 36px 48px;
  background-color: var(--bg);
  border: var(--border-card);
  border-top: 1px solid var(--highlight);
  border-radius: 8px;
}

.word-reveal {
  margin: 1rem;
}
.reset-button {
  font-size: clamp(16px, 1rem, 6rem);
  border: var(--border-card);
  border-top: 1px solid var(--highlight);
  border-radius: 12px;
  cursor: pointer;
  padding: 12px;
  width: fit-content;
  background-color: var(--bg-light);
  color: var(--text);
  box-shadow: var(--shadow);
}
.reset-button:hover {
  background-color: var(--primary-color--hover);
}
.reset-button:active {
  background-color: var(--primary-color--active);
}

@media(max-width: 1000px) {
  .container {
    flex-direction: column;
  }

  /* .hangman-box {
    border: 1px solid blue;
  } */
  
  .game-box {
    flex: auto;
    width: 100%;
  }
}

@media(max-width: 800px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    display: none;
    position: fixed;
    width: 200px;
  }
  .show {
    display: block;
  }
}