:root {
  --color-hue: 210;
  --color-saturation: 6%;

  --bg-dark: hsl(var(--color-hue), var(--color-saturation), 5%);
  --bg: hsl(var(--color-hue), var(--color-saturation), 10%);
  --bg-light: hsl(var(--color-hue), var(--color-saturation), 20%);

  --text: hsl(0 0% 95%);
  --text-muted: hsl(0 0% 70%);

  --border: hsl(var(--color-hue), var(--color-saturation), 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(var(--color-hue), var(--color-saturation), 50%);
  --border-card: 1px solid var(--border);
  
  --primary-color: rgb(4, 87, 102);
  --primary-color--hover: rgba(4, 87, 102, 0.9);
  --primary-color--active: rgba(4, 87, 102, 0.6);
  --primary-white: rgb(240, 240, 240);
  --nav--height: 3rem;
}
body.light {
  --bg-dark: hsl(var(--color-hue), var(--color-saturation), 90%);
  /* --bg-dark: hsl(0, 0%, 90%); */
  --bg: hsl(var(--color-hue), var(--color-saturation), 95%);
  --bg-light: hsl(var(--color-hue), var(--color-saturation), 100%);

  --text: hsl(0 0% 5%);
  --text-muted: hsl(0 0% 30%);

  --border: hsl(var(--color-hue), var(--color-saturation), 30%);
  --gradient: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));
  --gradient-hover: linear-gradient(0deg, var(--bg), var(--bg-light));
  --highlight: hsl(var(--color-hue), var(--color-saturation), 100%);
  --border-card: 1px solid var(--bg);
  --shadow: 0px 2px 2px hsla(0, 0%, 0%, 0.07), 
            0px 4px 4px hsla(0, 0%, 0%, 0.15);
}

* {
  margin: 0;
  padding: 0;
  color: var(--text);
}

html {
  --10px: 0.625rem;
  --11px: 0.6875rem;
  --12px: 0.75rem;
  --13px: 0.8125rem;
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --22px: 1.375rem;
  --23px: 1.4375rem;
  --24px: 1.5rem;
  --25px: 1.5625rem;
  --26px: 1.625rem;
  --27px: 1.6875rem;
  --28px: 1.75rem;
  --29px: 1.8125rem;
  --30px: 1.875rem;
  --31px: 1.9375rem;
  --32px: 2rem;
}

body {
  background: var(--bg-dark);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--16px);
  color: var(--text);
  /* min-width: 100vh; */
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "sidebar footer";
  /* makes footer not float if in 3rd position */
  grid-template-rows: auto 1fr auto;
  /* justify-items: center; */
  min-height: 100vh; /* helps push footer to the bottom */
}
/* body.no-sidebar {
  grid-template-areas:
    "navbar navbar"
    "main main"
    "footer footer";
  grid-template-columns: 1fr;
} */
nav {
  grid-area: navbar;
  position: sticky;
  top: 0rem;
    /* makes it easier to calculate aside{top} */
  /* height: 2rem; */
  /* padding: var(--nav--padding); */
  box-sizing: border-box;
  background: var(--bg);
  display: flex;
  align-items: center;
  z-index: 10;
}

main {
  grid-area: main;
}
.hangman-header {
  font-size: clamp(1.8rem, 7vw + 1rem, 3rem);
  text-align: center;
  margin: 16px;
}


.option-selection {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hangman-selector {
  font-size: var(--16px);
  background-color: var(--bg-light);
  border: var(--border-card);
  border-radius: 4px;
  box-shadow: var(--shadow);
  padding: 0.5rem;
  width: clamp(8rem, 10rem, fit-content);
}
.hangman-selector:hover {
  background-color: var(--bg);
}
.hangman-selector:disabled {
  color: var(--text-muted);
  background-color: var(--bg-dark);
}


.hangman-container {
  /* border: 1px solid black; */
  width: min(60rem, 95%);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  flex-direction: row;
  gap: 10px 30px;
  margin: auto;
  margin-top: 2rem;
  /* flex: 1 1 100%;
  flex-wrap: wrap; */
}

.hangman-box {
  /* flex-grow: 0.4; */
  justify-items: center;
  min-width: 10rem;
  /* flex: 1; */
  border: 1px solid var(--border);
  /* border-top: 1px solid var(--highlight); */
  border-radius: 8px;
  padding: 8px;
  background-color: var(--bg-light);
  box-shadow: var(--shadow);
}

.hangman-graphic {
  border: none;
  /* width: 100%;
  height: 100%; */
  /* object-fit: fill; */
  /* margin: 6px; */
}

.hangman-svg__container > * {
  display: none;
}
.hangman-svg__container > .activated {
  display: block;
}


.game-box {
  flex: 0 0 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  /* flex-grow: 0.6;
  min-width: 30rem; */
  border: none;
  width: 100%;
}

.word-display {
  font-size: var(--32px);
  background-color: var(--bg);
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  border-radius: 8px;
  padding: 16px;
  /* text-align: center; */
  margin: 16px;
  width: fit-content;
}

.keyboard {
  background-color: var(--primary-color);
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 4px; */
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.keyboard__key {
  height: 45px;
  width: 100%;
  /* max-width: 90px; */
  min-width: 50px;
  margin: 3px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 4px;
  margin: 0px;
  color: var(--primary-white);
  font-size: var(--16px);
  /* for mobile devices when touching keys? */
  outline: none;
  cursor: pointer;
  /* these 3 to center when inserting icons */
  /* display: inline-flex;
  align-items: center;
  justify-content: center; */
  vertical-align: top; /* in case */
  flex: 1 1 0;
}

.keyboard__key:not(:disabled):hover {
  background: rgba(255, 255, 255, 0.5);
}

.keyboard__key:disabled {
  background: rgba(255, 255, 255, 0.2);
  cursor: default;
}

/* This was max-width: 1000px */
@media(orientation: portrait) {
  .hangman-container {
    flex-direction: column;
  }

  .game-box {
    flex: auto;
    width: 100%;
  }
}

@media (orientation: landscape) {
  body {
    grid-template-columns: auto 1fr;
  }
  aside {
    display: none;
    position: fixed;
    /* grid-template-rows: 1fr; */
  }
  .show {
    display: block;
  }
}

@media(max-width: 818px) {
  body {
    grid-template-columns: 1fr;
  }
  aside {
    display: none;
    position: fixed;
    width: 200px;
  }
  .show {
    display: block;
  }
}